* {
	background-color: #FBE8A6;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Proza Libre', sans-serif;
}

.heading, .info {
	text-align: center;
}

.column {
	float: left;
	width: 45%;
	padding: 10px;
}

@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}